<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Handling From Submission</title>
</head>
<body>
    <h1>Empleado</h1>
    <p th:text="'name: ' + ${employee.name}"></p>
    <p th:text="'role: ' + ${employee.role}"></p>
    <a href="/employee">Agregar otro empleado</a>
</body>
</html>