<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Handling From Submission</title>
</head>
<body>
    <h1>Result</h1>
    <p th:text="'id: ' + ${greeting.id}"></p>
    <p th:text="'content: ' + ${greeting.content}"></p>
    <p th:text="'Name: ' + ${greeting.name}"></p>
    <a href="/greeting">Submit another message</a>
</body>
</html>